/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding: 2rem;
	list-style: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
:root {
	--bg-color: #fff;
 	--text-color: #221314;
 	--second-color: #5a7184;
 	--main-color: #6e54fa;
 	--big-font: 6rem;
 	--h2-font: 3rem;
 	--p-font: 1.1rem;
}
section {
	padding: 50px 10%;
}
header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-betwen;
	padding: 18px 100px;
	background: #edecea;
	transition: ease .40s;
}
.logo{
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--text-color);
}
.logo span {
	color: var(--main-color);
}
.navbar{
	position: relative;
	display: flex;
}
.navbar a{
	font-size: 1rem;
	color: var(--text-color);
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}
.navbar a:hover {
	color: var(--main-color);
}
#menu-icon {
	font-size: 2rem;
	cursor: pointer;
	display: none;
}
.home{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(bg.jpg);	
	background-size: cover ;
	background-position: right;
	background-attachment: fixed;
	display: flex;
	align-items: center;
}
.home-text h1 {
	font-size: 2.7rem;	
}
.home-text p {
	font-size: 0.938rem;
	margin: 0.4rem o 1.8rem;
}
.home-text span {
	color: var(--main-color);
}
.btn{
	display: inline-block;
	font-size: 14px;
	padding: 10px 14px;
	background: var(--main-color);
	color: #fff;
	border-radius: 0.3rem;
	transition: ease .40s;
}
.btn:hover {
	background: #221314;
}
.certer-text h2{
	text-align: center;
	font-size: 2.7rem;
	font-weight: 800;
	color: var(--text-color);
}
.shop-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 4.5rem;
	text-align: center;
}
.box{
	position: relative;
	cursor: pointer;
}
.box img{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}
.box h3:hover{
	color: var(--main-color);
	cursor: pointer;
}
.title-price{
	display: flex;
	justify-content: space-between;
	padding: 12px;
}
.title-price h3{
	font-size: 1rem;
	font-weight: 600;
}
.box span{
	font-size: 1.1rem;
	font-weight: 500;
	padding-left: 12px;
	color: var(--main-color);
}
.stars .bx {
	color: var(--main-color);
}
.box .bx-cart{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 7px;
	font-size: 20px;
	color: #fff;
	border-radius: 4px 0 4px 0;
	background: var(--main-color);
}